/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  margin: 5%;
  background: linear-gradient(to bottom right, floralwhite, honeydew);
  background-attachment: fixed;
}

.head {
  margin-bottom: 3rem;
}
h1 {
  font-size: 3rem;
}
form {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  font-size: 1.25rem;
  border: 5px outset black;
}

.list > div {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 2.5rem;
}
.list span {
  font-size: 0.8rem;
  align-self: flex-end;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead th {
  color: white;
  background-color: black;
}
thead th:nth-child(1) {
  width: 20%;
}
thead th:nth-child(2) {
  width: 40%;
}
thead th:nth-child(3) {
  width: 40%;
}
th,td {
  padding: 0.25rem;
}
tbody tr:nth-child(even) {
  background-color: beige;
}

.clear {
  border: 3px solid grey;
  border-right: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: honeydew;
  position: fixed;
  top: 2%;
  right: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clear button {
  height: 40px;
  width: 40px;
  margin-bottom: 0.5rem;
  background-color: darkred;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}
.clear span {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}